*cache*
*.swp
powerline-shell.py
*.py[co]
config.py
powerline_shell.egg-info/
/build/
/dist/
/env/
tags
config.json
powerline-shell.json
uninstall.txt
.DS_Store
*sublime*
.pytest_cache
__pycache__
.idea
/powerline-shell/
